@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * 51 State implementation : © Pavel Kulagin (KuWizard) kuzwiz@mail.ru
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fiftyfirststate.css
 *
 * 51 State stylesheet
 *
 */
.player-board.passed {
  opacity: 0.4;
}
.player-board .playerResourcesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.player-board .playerResourcesWrapper .playerResources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;
  width: 215px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.player-board .playerResourcesWrapper .playerResources .resource {
  width: 50px;
  height: 50px;
  position: relative;
}
.player-board .playerResourcesWrapper .cards {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -36px;
  right: 45px;
}
.player-board .playerResourcesWrapper .resourceIcon.cardsIcon {
  width: 35px;
  height: 35px;
}
.player-board .playerResourcesWrapper .resourceValue {
  position: absolute;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.733);
  border-radius: 50%;
  text-align: center;
  width: 23px;
  font-size: 19px;
}
.player-board .playerResourcesWrapper .resourceIcon {
  display: block;
  background-image: url(img/icons.jpg);
  background-size: 1300% 100%;
  width: 45px;
  height: 45px;
}
.player-board .playerResourcesWrapper .resourceIcon.fuelIcon {
  background-position-x: 0%;
}
.player-board .playerResourcesWrapper .resourceIcon.gunIcon {
  background-position-x: 8.3333333333%;
}
.player-board .playerResourcesWrapper .resourceIcon.ironIcon {
  background-position-x: 16.6666666667%;
}
.player-board .playerResourcesWrapper .resourceIcon.brickIcon {
  background-position-x: 25%;
}
.player-board .playerResourcesWrapper .resourceIcon.workerIcon {
  background-position-x: 33.3333333333%;
}
.player-board .playerResourcesWrapper .resourceIcon.arrowGreyIcon {
  background-position-x: 41.6666666667%;
}
.player-board .playerResourcesWrapper .resourceIcon.arrowRedIcon {
  background-position-x: 50%;
}
.player-board .playerResourcesWrapper .resourceIcon.arrowBlueIcon {
  background-position-x: 58.3333333333%;
}
.player-board .playerResourcesWrapper .resourceIcon.arrowUniIcon {
  background-position-x: 66.6666666667%;
}
.player-board .playerResourcesWrapper .resourceIcon.ammoIcon {
  background-position-x: 75%;
}
.player-board .playerResourcesWrapper .resourceIcon.defenceIcon {
  background-position-x: 83.3333333333%;
}
.player-board .playerResourcesWrapper .resourceIcon.develIcon {
  background-position-x: 91.6666666667%;
}
.player-board .playerResourcesWrapper .resourceIcon.cardsIcon {
  background-position-x: 100%;
}

.factionBoard {
  width: 100%;
  height: 800px;
  background: hsla(0, 0%, 100%, 0.733);
  margin-bottom: 10px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.85) 0 3px 5px;
}
.factionBoard .faction {
  background-image: url(img/factions4.jpg);
  background-size: cover;
  width: 312px;
  height: 100%;
  box-shadow: rgba(0, 0, 2, 0.55) 0 2px 5px;
}
.factionBoard .faction[data-faction="0"] {
  background-position: 0% 0;
}
.factionBoard .faction[data-faction="1"] {
  background-position: 33.3333333333% 0;
}
.factionBoard .faction[data-faction="2"] {
  background-position: 66.6666666667% 0;
}
.factionBoard .faction[data-faction="3"] {
  background-position: 100% 0;
}
.factionBoard .cards {
  height: 100%;
  display: grid;
  gap: 15px;
  flex-grow: 1;
}
.factionBoard .cards .cardsBlock {
  display: flex;
  gap: 4px;
  margin: 3px;
  margin-left: 7px;
}

.location {
  background-image: url(img/locations10.jpg);
  background-size: cover;
  width: 169px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
  border-radius: 8px;
}
.location[data-sprite="0"] {
  background-position: 0% 0;
}
.location[data-sprite="1"] {
  background-position: 11.1111111111% 0;
}
.location[data-sprite="2"] {
  background-position: 22.2222222222% 0;
}
.location[data-sprite="3"] {
  background-position: 33.3333333333% 0;
}
.location[data-sprite="4"] {
  background-position: 44.4444444444% 0;
}
.location[data-sprite="5"] {
  background-position: 55.5555555556% 0;
}
.location[data-sprite="6"] {
  background-position: 66.6666666667% 0;
}
.location[data-sprite="7"] {
  background-position: 77.7777777778% 0;
}
.location[data-sprite="8"] {
  background-position: 88.8888888889% 0;
}
.location[data-sprite="9"] {
  background-position: 100% 0;
}

/*# sourceMappingURL=fiftyfirststate.css.map */
