@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * 51 State implementation : © Pavel Kulagin (KuWizard) kuzwiz@mail.ru
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fiftyfirststate.css
 *
 * 51 State stylesheet
 *
 */
.player-board.passed {
  filter: contrast(0.3333333333) brightness(1.25) saturate(10%);
}
.player-board .playerResourcesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.player-board .playerResourcesWrapper .playerResources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;
  width: 215px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.player-board .playerResourcesWrapper .playerResources .resource {
  width: 50px;
  height: 50px;
  position: relative;
}
.player-board .playerResourcesWrapper .card {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -36px;
  right: 45px;
}
.player-board .playerResourcesWrapper .resourceIcon.cardIcon {
  width: 35px;
  height: 35px;
}
.player-board #sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}
.player-board #sticky.passed {
  filter: contrast(0.3333333333) brightness(1.25) saturate(10%);
}

.factionWrapper {
  width: 312px;
}

.factionBoard {
  height: 830px;
  background: hsla(0, 0%, 100%, 0.733);
  margin-bottom: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
  display: flex;
  align-items: flex-end;
}
.factionBoard .faction {
  background-image: url(img/factions4.jpg);
  background-size: cover;
  width: 312px;
  height: 800px;
  box-shadow: rgba(0, 0, 2, 0.55) 0 2px 5px;
  position: relative;
}
.factionBoard .faction[data-faction="0"] {
  background-position: 0% 0;
}
.factionBoard .faction[data-faction="1"] {
  background-position: 33.3333333333% 0;
}
.factionBoard .faction[data-faction="2"] {
  background-position: 66.6666666667% 0;
}
.factionBoard .faction[data-faction="3"] {
  background-position: 100% 0;
}
.factionBoard .faction .featureArea {
  width: 42%;
  height: 12%;
  top: 37%;
  left: 28%;
  position: absolute;
}
.factionBoard .faction .spentArea {
  width: 32%;
  height: 23%;
  bottom: 11%;
  right: 13%;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.factionBoard .faction .spentArea .spent {
  display: flex;
  gap: 15px;
}
.factionBoard .faction .actionsArea {
  width: 32%;
  height: 9%;
  bottom: 23%;
  left: 21.5%;
  position: absolute;
}
.factionBoard .faction .spendWorkersArea {
  width: 32%;
  height: 6%;
  bottom: 15.5%;
  left: 21.5%;
  position: absolute;
}
.factionBoard .cards {
  height: 96.7%;
  display: grid;
  gap: 15px;
  flex-grow: 1;
  grid-template-rows: 1fr 1fr 1fr;
}
.factionBoard .cards .cardsBlock {
  display: flex;
  gap: 4px;
  margin: 4px;
  margin-left: 7px;
}
.factionBoard .deals {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.factionBoard .deals .resourceBlock {
  display: grid;
}
.factionBoard .deals .resourceBlock .resourceIcon {
  width: 24px;
  height: 24px;
  grid-area: 1/1/2/2;
  --digit-1: 0;
  --digit-2: 0;
  margin-left: calc((var(--digit-1) + var(--digit-2)) * 16px - 16px);
  /* Get element order */
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+0) {
  --digit-1: 0;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+1) {
  --digit-1: 1;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+2) {
  --digit-1: 2;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+3) {
  --digit-1: 3;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+4) {
  --digit-1: 4;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+5) {
  --digit-1: 5;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+6) {
  --digit-1: 6;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+7) {
  --digit-1: 7;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+8) {
  --digit-1: 8;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(10n+9) {
  --digit-1: 9;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(-n+10) {
  --digit-2: 0;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+10):nth-child(-n+20) {
  --digit-2: 10;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+20):nth-child(-n+30) {
  --digit-2: 20;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+30):nth-child(-n+40) {
  --digit-2: 30;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+40):nth-child(-n+50) {
  --digit-2: 40;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+50):nth-child(-n+60) {
  --digit-2: 50;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+60):nth-child(-n+70) {
  --digit-2: 60;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+70):nth-child(-n+80) {
  --digit-2: 70;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+80):nth-child(-n+90) {
  --digit-2: 80;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+90):nth-child(-n+100) {
  --digit-2: 90;
}
.factionBoard .deals .resourceBlock .resourceIcon:nth-child(n+100):nth-child(-n+110) {
  --digit-2: 100;
}

.locationWrapper {
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
}
.locationWrapper.placeholder {
  background-color: gray;
  opacity: 0.1;
}
.locationWrapper.selectable {
  outline: unset;
}
.locationWrapper.selectable:hover {
  transform: scale(1.04);
  z-index: 1;
}
.locationWrapper.ruined {
  background-color: gray;
}
.locationWrapper.ruined.unselectable {
  opacity: 1;
}
.locationWrapper.selected {
  transform: scale(1.04);
  z-index: 1;
  cursor: pointer;
  outline: 2px solid red;
}
.locationWrapper.phantom {
  visibility: hidden;
}
.locationWrapper .resources {
  width: 100%;
  height: 30%;
  top: 23%;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.locationWrapper .locationImage {
  width: 169px;
  height: 249.951px;
  border-radius: 8px;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage {
  background-image: url(img/locations10.jpg);
  background-size: 1000% 600%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="0"] {
  background-position: 0% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="1"] {
  background-position: 11.1111111111% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="2"] {
  background-position: 22.2222222222% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="3"] {
  background-position: 33.3333333333% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="4"] {
  background-position: 44.4444444444% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="5"] {
  background-position: 55.5555555556% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="6"] {
  background-position: 66.6666666667% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="7"] {
  background-position: 77.7777777778% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="8"] {
  background-position: 88.8888888889% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="9"] {
  background-position: 100% 0%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="10"] {
  background-position: 0% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="11"] {
  background-position: 11.1111111111% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="12"] {
  background-position: 22.2222222222% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="13"] {
  background-position: 33.3333333333% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="14"] {
  background-position: 44.4444444444% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="15"] {
  background-position: 55.5555555556% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="16"] {
  background-position: 66.6666666667% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="17"] {
  background-position: 77.7777777778% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="18"] {
  background-position: 88.8888888889% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="19"] {
  background-position: 100% 20%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="20"] {
  background-position: 0% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="21"] {
  background-position: 11.1111111111% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="22"] {
  background-position: 22.2222222222% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="23"] {
  background-position: 33.3333333333% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="24"] {
  background-position: 44.4444444444% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="25"] {
  background-position: 55.5555555556% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="26"] {
  background-position: 66.6666666667% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="27"] {
  background-position: 77.7777777778% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="28"] {
  background-position: 88.8888888889% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="29"] {
  background-position: 100% 40%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="30"] {
  background-position: 0% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="31"] {
  background-position: 11.1111111111% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="32"] {
  background-position: 22.2222222222% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="33"] {
  background-position: 33.3333333333% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="34"] {
  background-position: 44.4444444444% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="35"] {
  background-position: 55.5555555556% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="36"] {
  background-position: 66.6666666667% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="37"] {
  background-position: 77.7777777778% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="38"] {
  background-position: 88.8888888889% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="39"] {
  background-position: 100% 60%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="40"] {
  background-position: 0% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="41"] {
  background-position: 11.1111111111% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="42"] {
  background-position: 22.2222222222% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="43"] {
  background-position: 33.3333333333% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="44"] {
  background-position: 44.4444444444% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="45"] {
  background-position: 55.5555555556% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="46"] {
  background-position: 66.6666666667% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="47"] {
  background-position: 77.7777777778% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="48"] {
  background-position: 88.8888888889% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="49"] {
  background-position: 100% 80%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="50"] {
  background-position: 0% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="51"] {
  background-position: 11.1111111111% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="52"] {
  background-position: 22.2222222222% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="53"] {
  background-position: 33.3333333333% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="54"] {
  background-position: 44.4444444444% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="55"] {
  background-position: 55.5555555556% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="56"] {
  background-position: 66.6666666667% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="57"] {
  background-position: 77.7777777778% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="58"] {
  background-position: 88.8888888889% 100%;
}
.locationWrapper:not(.ruined):not(.placeholder) .locationImage[data-sprite="59"] {
  background-position: 100% 100%;
}

#handLocations:not(#handLocations.notTooManyChildren) .locationWrapper {
  width: 2vw;
}
#handLocations:not(#handLocations.notTooManyChildren) .locationWrapper:last-child {
  width: auto;
}

.dijitTooltip .location .locationImage {
  width: 300px;
  height: 443.7px;
}

@keyframes justPicked {
  10%, 12% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(-8px);
  }
  35% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes justPickedSlide {
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.justPicked:not(:hover) {
  animation: justPicked 3s;
  animation-iteration-count: 2;
  z-index: 2;
}

.justPickedSlide:not(:hover) {
  animation: justPickedSlide 1.5s;
  z-index: 2;
}

#hand, #deckConnectionsBlock {
  background: hsla(0, 0%, 100%, 0.733);
  margin-bottom: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
}

#deckConnectionsBlock {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  transition: height 500ms;
  align-items: center;
  font-weight: 700;
}
#deckConnectionsBlock.collapsing, #deckConnectionsBlock.collapsed {
  height: 40px;
}
#deckConnectionsBlock.collapsing #collapseButton, #deckConnectionsBlock.collapsed #collapseButton {
  transform: rotate(90deg);
}
#deckConnectionsBlock.collapsed #deck, #deckConnectionsBlock.collapsed #discard {
  display: none;
}
#deckConnectionsBlock.collapsed .collapsedText {
  display: block;
}
#deckConnectionsBlock.collapsed #lookout .location {
  display: none;
}
#deckConnectionsBlock.collapsed #connections .connection {
  display: none;
}
#deckConnectionsBlock .collapsedText {
  display: none;
}
#deckConnectionsBlock #collapseButton {
  width: 31px;
  height: 30px;
  cursor: pointer;
  transform: rotate(270deg);
  box-shadow: rgba(0, 0, 0, 0.55) 0 0 2px;
  border-radius: 8px;
  margin-right: 5px;
  transition: transform 0.5s;
  margin-left: auto;
}

#hand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hand.all #handSelector #selected .allBlock {
  visibility: visible;
}
#hand.locations #handSelector #selected .locationsBlock {
  visibility: visible;
}
#hand.locations #handConnections {
  max-height: 0;
}
#hand.locations #handConnections .connection {
  visibility: hidden;
}
#hand.connections #handSelector #selected .connectionsBlock {
  visibility: visible;
}
#hand.connections #handLocations {
  max-height: 0;
}
#hand.connections #handLocations .location {
  visibility: hidden;
}
#hand #handSelector {
  position: relative;
  margin-top: 5px;
  align-items: center;
  display: flex;
  border-style: solid;
  border-color: black;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 8px;
  z-index: 1;
}
#hand #handSelector #unselected {
  background-color: antiquewhite;
}
#hand #handSelector #unselected, #hand #handSelector #selected, #hand #handSelector #clickArea {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-items: center;
  height: 30px;
  align-items: center;
  width: 100%;
}
#hand #handSelector #unselected .allBlock, #hand #handSelector #unselected .locationsBlock, #hand #handSelector #unselected .connectionsBlock, #hand #handSelector #selected .allBlock, #hand #handSelector #selected .locationsBlock, #hand #handSelector #selected .connectionsBlock, #hand #handSelector #clickArea .allBlock, #hand #handSelector #clickArea .locationsBlock, #hand #handSelector #clickArea .connectionsBlock {
  margin: 0 10px;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  border-style: solid;
  border-right: none;
}
#hand #handSelector #clickArea {
  position: absolute;
}
#hand #handSelector #selected {
  position: absolute;
}
#hand #handSelector #selected .allBlock, #hand #handSelector #selected .locationsBlock, #hand #handSelector #selected .connectionsBlock {
  background-color: #4871b6;
  color: #fff;
  visibility: hidden;
}
#hand #handLocations {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  transition: max-height 500ms;
  max-height: 270px;
}
#hand #handLocations.notTooManyChildren {
  justify-content: center;
}
#hand #handConnections {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: max-height 500ms;
  max-height: 180px;
  gap: 5px;
}

#deckDiscard {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
}
#deckDiscard #deckBlock, #deckDiscard #discardBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#page-title {
  min-height: 34px;
}

.selectable {
  cursor: pointer;
  outline: 2px solid red;
}

.unselectable {
  filter: contrast(0.3333333333) brightness(1.25) saturate(35%);
}

.resourceValue {
  position: absolute;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.733);
  border-radius: 50%;
  text-align: center;
  width: 23px;
  font-size: 19px;
}

.resourceIcon {
  display: block;
  background-image: url(img/icons.jpg);
  background-size: 1400% 100%;
  width: 45px;
  height: 45px;
}
.resourceIcon.fuelIcon {
  background-position-x: 0%;
}
.resourceIcon.gunIcon {
  background-position-x: 7.6923076923%;
}
.resourceIcon.ironIcon {
  background-position-x: 15.3846153846%;
}
.resourceIcon.brickIcon {
  background-position-x: 23.0769230769%;
}
.resourceIcon.workerIcon {
  background-position-x: 30.7692307692%;
}
.resourceIcon.arrowGreyIcon {
  background-position-x: 38.4615384615%;
}
.resourceIcon.arrowRedIcon {
  background-position-x: 46.1538461538%;
}
.resourceIcon.arrowBlueIcon {
  background-position-x: 53.8461538462%;
}
.resourceIcon.arrowUniIcon {
  background-position-x: 61.5384615385%;
}
.resourceIcon.ammoIcon {
  background-position-x: 69.2307692308%;
}
.resourceIcon.defenceIcon {
  background-position-x: 76.9230769231%;
}
.resourceIcon.develIcon {
  background-position-x: 84.6153846154%;
}
.resourceIcon.cardIcon {
  background-position-x: 92.3076923077%;
}
.resourceIcon.scoreIcon {
  background-position-x: 100%;
}
.resourceIcon.blurred {
  opacity: 0.3;
}

#page-title #generalactions .resourceButton {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 0;
  border: 0;
}
#page-title #generalactions .resourceIcon {
  width: 21px;
  height: 21px;
}

.connection {
  width: 249.951px;
  height: 169px;
  box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
  border-radius: 8px;
}
.connection[data-sprite="0"] {
  background-position: 0 0%;
}
.connection[data-sprite="1"] {
  background-position: 0 33.3333333333%;
}
.connection[data-sprite="2"] {
  background-position: 0 66.6666666667%;
}
.connection[data-sprite="3"] {
  background-position: 0 100%;
}
.connection.selectable {
  outline: unset;
}
.connection.selectable:hover {
  transform: scale(1.04);
}
.connection.selected {
  cursor: pointer;
  outline: 2px solid red;
  transform: scale(1.04);
}
.connection:not(.flipped) {
  background-image: url(img/connections.jpg);
  background-size: cover;
}
.connection.flipped {
  background-color: gray;
}

.dijitTooltip .connection {
  width: 443.7px;
  height: 300px;
}

#connections, #lookout {
  display: flex;
  align-items: center;
  width: calc(100% - 360px - 5px);
  justify-content: center;
  gap: 5px;
}
#connections.hidden, #lookout.hidden {
  display: none;
}

#connections {
  gap: 10px;
}

#lastRound {
  background-color: #c10707;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
  margin-top: -5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.logIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
}

#pagemaintitletext .logIcon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.playerResourcesWrapper {
  background-color: #ebd5bd;
}

.fadeout {
  animation: fadeout 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=fiftyfirststate.css.map */
