#page-title {
  min-height: 34px;
}

.selectable {
  cursor: pointer;
  outline: 2px solid red;
}

.selected {
  cursor: pointer;
  outline: 3px solid #ff9600;
  transform: scale(1.04);
}

.unselectable {
  opacity: 0.5;
}