@import "variables";

#board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#page-title {
  min-height: 34px;
}

.selectable {
  cursor: pointer;
  outline: 2px solid red;
}

.unselectable {
  filter: contrast(calc(0.75 / (3 - 0.75))) brightness(calc(2 - 0.75)) saturate(35%);
}

.resourceValue {
  position: absolute;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 100%, .733);
  border-radius: 50%;
  text-align: center;
  width: 23px;
  font-size: 19px;
}

.resourceIcon {
  display: block;
  background-image: url(img/icons.jpg);
  background-size: 1400% 100%;
  width: 45px;
  height: 45px;

  @each $xShift, $name in $resources {
    &.#{$name}Icon {
      background-position-x: (100%/13 * $xShift);
    }
  }

  &.blurred {
    opacity: 0.3;
  }
}

#page-title #generalactions {
  .resourceButton {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 0;
    border: 0;
  }

  .resourceIcon {
    width: 21px;
    height: 21px;
  }
}

.connection {
  width: $locationWidth * $locationRatio;
  height: $locationWidth;
  box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
  border-radius: 8px;

  @for $sprite from 0 through 3 {
    &[data-sprite="#{$sprite}"] {
      background-position: 0 0% + (100% / 3 * $sprite);
    }
  }

  &.selectable {
    outline: unset;

    &:hover {
      transform: scale(1.04);
    }
  }

  &.selected {
    cursor: pointer;
    outline: 2px solid red;
    transform: scale(1.04);
  }

  &:not(.flipped) {
    background-image: url(img/connections.jpg);
    background-size: cover;
  }

  &.flipped {
    background-color: gray;
  }
}

.dijitTooltip .connection {
  width: $locationTooltipWidth * $locationRatio;
  height: $locationTooltipWidth;
}

#connections, #lookout {
  display: flex;
  align-items: center;
  width: calc(100% - $deckDiscardSize - 5px); // left margin is 5px
  justify-content: center;
  gap: 5px;

  &.hidden {
    display: none;
  }
}

#connections {
  gap: 10px;
}

#lastRound {
  background-color: #c10707;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
  margin-top: -5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.logIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
}

#pagemaintitletext .logIcon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.playerResourcesWrapper {
  background-color: #ebd5bd;
}

.fadeout {
  animation: fadeout 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mobile_version {
  #board {
    margin-right: 5px;
  }
}