.factionBoard {
  height: 800px;
  background: hsla(0, 0%, 100%, .733);
  margin-bottom: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
  display: flex;

  .faction {
    background-image: url(img/factions4.jpg);
    background-size: cover;
    width: 312px;
    height: 100%;
    box-shadow: rgba(0, 0, 2, 0.55) 0 2px 5px;
    position: relative;

    @each $faction in 0, 1, 2, 3 {
      &[data-faction="#{$faction}"] {
        background-position: 0% + (100% / 3 * $faction) 0;
      }
    }

    .actionsArea {
      width: 32%;
      height: 9%;
      bottom: 23%;
      left: 21.5%;
      position: absolute;
    }

    .spendWorkersArea {
      width: 32%;
      height: 6%;
      bottom: 15.5%;
      left: 21.5%;
      position: absolute;
    }
  }

  .cards {
    height: 100%;
    display: grid;
    gap: 15px;
    flex-grow: 1;

    .cardsBlock {
      display: flex;
      gap: 4px;
      margin: 3px;
      margin-left: 7px;
    }
  }
}