@import "variables";

#hand, #deckConnectionsBlock {
  background: hsla(0, 0%, 100%, 0.733);
  margin-bottom: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
}

#deckConnectionsBlock {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  transition: height 500ms;
  align-items: center;
  font-weight: 700;

  &.collapsed {
    height: 40px;

    #deck, #discard {
      display: none;
    }

    .collapsedText {
      display: block;
    }

    #lookout .location {
      display: none;
    }

    #connections .connection {
      display: none;
    }

    #collapseButton {
      transform: rotate(90deg);
    }
  }

  .collapsedText {
    display: none;
  }

  #collapseButton {
    width: 31px;
    height: 30px;
    cursor: pointer;
    transform: rotate(270deg);
    box-shadow: rgba(0, 0, 0, 0.55) 0 0 2px;
    border-radius: 8px;
    margin-right: 5px;
    transition: transform 0.5s;
    margin-left: auto;
  }
}

#hand {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  height: 270px;

  &.notTooManyChildren {
    justify-content: center;
  }
}

#deckDiscard {
  width: $deckDiscardSize;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;

  #deckBlock, #discardBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}