@import "variables";

#hand, #deckConnectionsBlock {
  background: hsla(0, 0%, 100%, 0.733);
  margin-bottom: 6px;
  border-radius: 14px;
  overflow: hidden;
  margin-left: 3px;
}

#deckConnectionsBlock {
  display: flex;
  justify-content: flex-start;
  height: 300px;
}

#hand {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  height: 270px;
}

#deckDiscard {
  width: $deckDiscardSize;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #deckBlock, #discardBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}