@use "sass:string";
@use "sass:math";
@import "variables";

.locationWrapper {
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
  overflow: hidden;

  &.placeholder {
    background-color: gray;
    opacity: 0.1;
  }

  &.selectable {
    outline: unset;

    &:hover {
      transform: scale(1.04);
      z-index: 1;
    }
  }


  &.ruined {
    background-color: gray;

    &.unselectable {
      opacity: 1;
    }
  }

  &.selected {
    transform: scale(1.04);
    z-index: 1;

    .locationImage {
      cursor: pointer;
      outline: 2px solid red;
    }
  }

  &.phantom {
    visibility: hidden;
  }

  .resources {
    width: 100%;
    height: 30%;
    top: 23%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .locationImage {
    width: $locationWidth;
    height: $locationWidth * $locationRatio;
  }

  &:not(.ruined):not(.placeholder) {
    .locationImage {
      background-image: url(img/locations10.jpg);
      background-size: 1000% 600%;

      @for $sprite from 0 through 59 {
        &[data-sprite="#{$sprite}"] {
          background-position: math.div(($sprite % 10) * 100%, 9) math.div(floor(math.div($sprite, 10)) * 100%, 5);
        }
      }
    }
  }
}

#handLocations:not(#handLocations.notTooManyChildren) .locationWrapper {
  width: 2vw;

  &:last-child {
    width: auto;
  }
}

.dijitTooltip .location .locationImage {
  width: $locationTooltipWidth;
  height: $locationTooltipWidth * $locationRatio;
}