@use "sass:string";
@use "sass:math";
@import "variables";

.locationWrapper {
  position: relative;
  border-radius: 8px;
  transition: transform 0.5s;

  &.placeholder {
    background-color: gray;
    opacity: 0.1;
  }

  &.selectable {
    outline: unset;

    &:hover {
      transform: scale(1.04);
      z-index: 1;
    }
  }

  &.selected {
    z-index: 1;

    .locationImage {
      transform: scale(1.04);
      cursor: pointer;
      outline: 2px solid red;
    }
  }

  &.phantom {
    visibility: hidden;
  }

  .resources {
    width: 100%;
    height: 30%;
    top: 16%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .locationImage {
    width: $locationWidth;
    height: $locationWidth * $locationRatio;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 2px 4px;
  }

  &:not(.back):not(.placeholder) {
    .locationImage {
      background-image: url(img/locations.jpg);
      background-size: 1000% 600%;

      @for $sprite from 0 through 59 {
        &[data-sprite="#{$sprite}"] {
          background-position-x: math.div(($sprite % 10) * 100%, 9);
          background-position-y: math.div(floor(math.div($sprite, 10)) * 100%, 5);

          &.era {
            background-position-y: math.div(floor(math.div($sprite, 10)) * 100%, 3);
          }
        }
      }

      &.era {
        background-image: url(img/locationsera.jpg);
        background-size: 1000% 400%;
      }
    }
  }

  &.back .locationImage {
    background-image: url(img/back.jpg);
    background-size: cover;

    &.unselectable {
      opacity: 1;
    }
  }

  &.turnAround {
    transform: rotate(180deg);
  }
}

#handLocations:not(#handLocations.notTooManyChildren) .locationWrapper {
  width: 2vw;

  &:last-child {
    width: auto;
  }
}

.dijitTooltip .location .locationImage {
  width: $locationTooltipWidth;
  height: $locationTooltipWidth * $locationRatio;
}

@keyframes justPicked {
  10%, 12% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(-8px);
  }
  35% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes justPickedSlide {
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.justPicked:not(:hover) {
  animation: justPicked 3s;
  animation-iteration-count: 2;
}

.justPickedSlide:not(:hover) {
  animation: justPickedSlide 1.5s;
  z-index: 2;
}

.locationNameText {
  margin: 7px;
  font-size: large;
  font-weight: 700;
  text-align: center;
}