@import "variables";

$resources: (
        0: "fuel",
        1: "gun",
        2: "iron",
        3: "brick",
        4: "worker",
        5: "arrowGrey",
        6: "arrowRed",
        7: "arrowBlue",
        8: "arrowUni",
        9: "ammo",
        10: "defence",
        11: "devel",
        12: "card",
        13: "score"
);

.player-board {
  &.passed {
    filter: contrast(calc(0.75 / (3 - 0.75))) brightness(calc(2 - 0.75)) saturate(10%);
  }

  .playerResourcesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 7px;
    gap: 7px;

    .cardsAndStuff {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      justify-items: center;

      .keyhole {
        grid-row: 1;
        height: $playerBoardIconSize;
        cursor: pointer;

        svg {
          height: 100%;
        }
      }

      .card {
        grid-column: 2;
      }

      .firstPlayerWrapper {
        grid-column: 3;
      }
    }

    .playerResources {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      gap: 5px;
      width: 215px;
      margin-bottom: 10px;
      background-color: #ebd5bd;

      .resource {
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    border-style: solid;
    max-width: 220px;

    &.passed {
      filter: contrast(calc(0.75 / (3 - 0.75))) brightness(calc(2 - 0.75)) saturate(10%);
    }

    &.statusBar {
      top: 44px;
    }

    .cardsAndStuff {
      display: none;
    }
  }
}

#firstPlayer {
  background-image: url(img/firstplayer.png);
  background-size: 100% 100%;
  width: $playerBoardIconSize;
  height: $playerBoardIconSize;
}

.mobile_version {
  #sticky {
    left: 0;
    z-index: 103;
  }

  .playerResourcesWrapper:not(.playerResourcesWrapper.fourplayers) {
    flex-direction: row;
    justify-content: center;
    height: 170px;

    .cardsAndStuff {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: none;
      width: unset;
      align-items: center;
      height: 100%;

      .card {
        grid-column: 1;
        grid-row: 2;
      }

      .firstPlayerWrapper {
        grid-column: 1;
      }
    }
  }
}